.label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #4B5563;
    margin-bottom: 0.25rem;
}

.input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.2s ease-in-out;
}